# macOS
.DS_Store

# generated plots
*.png

# dft vasprun data
dft-data/*

# exception: don't ignore placeholder file in dft-data/
!dft-data/.gitkeep

# generated xyz/npz files
model-scripts/script-data/*
model-scripts/mlip-results/*
model-scripts/dft-cache/*

!model-scripts/script-data/.gitkeep
!model-scripts/mlip-results/.gitkeep
!model-scripts/dft-cache/.gitkeep
